@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #3BD6FF;
  --color-2: #6CADDF;
  --color-3: #001838;
  --color-4: #FF9700;
  --grey-0: #FFFFFF;
  --grey-100: #F6F6F6;
  --grey-200: #EEEEEE;
  --grey-300: #E6E6E6;
  --grey-500: #868686;
  --grey-700: #515151;
  --grey-1000: #000000;
  --background: #FFFFFF;
  --background-2: #F5F5F5;
}